
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    /* color: #fefefe; */
    font-family: 'Nunito Sans';
    font-weight: 300;
}

body h1 {
    font-weight: 500;
}

header.container {
    /* background-color: #ffcc9d; */
    /* color: #fefefe; */
    padding: 2rem;
}

.text-center {
    text-align: center;
}

p {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 0.4rem;
}

.row .column.column-16 {
    flex: 0 0 16%;
    max-width: 16%;
}

.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    /* max-width: 128px; */
    border-radius: 100%;
}

.title {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.title > div {
    display: block;
}

.title .links {
    display: flex;
}

.title img {
    height: 24px;
}

.exp img {
    /* max-width: 96px; */
    /* border-radius: 96px; */
}
